body {
  background-color: #333333;
  font-family: sans-serif;
  color: #EAEAEA;
  padding: 0px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
a {
  color: #EAEAEA;
}
.jsondiffpatch-added .jsondiffpatch-property-name, .jsondiffpatch-added .jsondiffpatch-value pre, .jsondiffpatch-modified .jsondiffpatch-right-value pre, .jsondiffpatch-textdiff-added {
  background: #006600;
}
.jsondiffpatch-deleted .jsondiffpatch-property-name, .jsondiffpatch-deleted pre, .jsondiffpatch-modified .jsondiffpatch-left-value pre, .jsondiffpatch-textdiff-deleted {
  background: #850000;
}
.jsondiffpatch-moved .jsondiffpatch-moved-destination {
  background: #850000;
}