body, pre {
  background-color: #333333;
  font-family: sans-serif;
  color: #EAEAEA;
  padding: 0px;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
a {
  color: #EAEAEA;
}

#execute {
	margin-top: 5px;;
	width: 10%;
	min-width:100px;
}

.CodeMirror {
  border: 1px solid #222;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.error {
	color:red;
	transition:.5s;
	overflow:hidden;
	margin: 15px;
}

table {
	width:auto;
	margin:auto;
	border:1px solid black;
 	border-collapse:collapse;
 	margin-bottom:10px;
}

thead, th {
	position: sticky;
	top: 0;
	border:3px solid #777;
	font-family: sans-serif;
	text-align: left;
	vertical-align: top;
	background-color: #333333;
}

td {
	border:1px solid #777;
	font-family: sans-serif;
	text-align: left;
	vertical-align: top;
}

footer {
	font-size:.8em;
	color: #222;
}
