body {
  background-color: #333333;
  font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;
  color: #EAEAEA;
}
td {
  background-color: #333333;
  font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;
  color: #EAEAEA;
}